<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: 1px solid #d0c0c0;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.row-faq{
    width: 60%;
    margin: 0 auto;
}
.accordion h2{
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}
.accordion i{
    float: right;
}
</style>
<div class="row-faq" >
    <?php
    foreach($block->getFaqData()->getData() as $key => $value){

    ?>
        <div class="accordion">
          <h2><?php echo $value['question'] ?></h2>
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        <div class="panel">
          <p style="text-align:justify"><?php echo $value['response'] ?></p>
        </div>
    <?php
    }
?>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>